.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #43475D;
}
.TodoListTemplate{
  width: 512px;
  margin: 0 auto;
  margin-top: 4rem;
  border: 1px solid #2c3e50;
  background-color: #2c2e3f;
  border-radius: 0.5rem;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.3);
}