.todoHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #2b2d3b;
    padding: 1rem;
}
.todoButtonList{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
.todoButton{
    background-color: transparent;
    color: #F19747;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 0.9rem;

    &:hover {
        color: #d35400;
    }
    &.active {
        color: #fff;
        text-decoration: underline;
    }
}
.switchButton{
    background-color: transparent;
}


.todoButton:hover {
    color: #d35400;
}